Use the given dataset of car evaluation 

Number of Instances: 1728 (instances completely cover the attribute space)

Number of Attributes: 6

Attribute Values:

   buying       v-high, high, med, low
   maint        v-high, high, med, low
   doors        2, 3, 4, 5-more
   persons      2, 4, more
   lug_boot     small, med, big
   safety       low, med, high

Missing Attribute Values: none

Class Distribution (number of instances per class)

   class      Number          
   ---------------
   unacc     1210      
   acc        384     
   good        69      
   v-good      65

In [ ]:
import pandas as pd
a = pd.read_csv("/content/carevaluation.csv")
a.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [ ]:
#Use the given dataset and read the dataset with the names of the attribute 
#to the dataset?
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import model_selection,metrics
from sklearn.neighbors import KNeighborsClassifier
data =pd.read_csv('carevaluation.csv',
                  names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [ ]:
#Check the information from the dataset and do the data processing 
#by converting everthing 
#into numeric form
#data.info()

In [ ]:
#Identifying the target variable
data['class'],class_names = pd.factorize(data['class'])
#data['class']

In [ ]:
#Identifying the predictor variables
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [ ]:
#Split the dataset into training and testing portions?
X = data.iloc[:,:-1]
#X
y = data.iloc[:,-1]

In [ ]:
# split data randomly into 70% training and 30% test
X_train, X_test, y_train, y_test = 
model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
#Fit the model
## Instantiate the model with 5 neighbors. 
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred = model.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
creport = metrics.classification_report(y_test, y_pred)
#print("Accuracy is:",accuracy)
#print(creport)
#print('Accuracy: {:.2f}'.format(accuracy))

In [ ]:
#Choose the best k value within range of 25 and also calculate accuracy for each k value from 1 to 25? 
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value)
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    print("Accuracy is ",metrics.accuracy_score(y_test,y_pred)*100,
          "% for K-Value:",K_value)

Accuracy is  83.62235067437379 % for K-Value: 1
Accuracy is  80.15414258188824 % for K-Value: 2
Accuracy is  89.21001926782274 % for K-Value: 3
Accuracy is  88.82466281310212 % for K-Value: 4
Accuracy is  93.83429672447014 % for K-Value: 5
Accuracy is  92.8709055876686 % for K-Value: 6
Accuracy is  92.8709055876686 % for K-Value: 7
Accuracy is  89.78805394990366 % for K-Value: 8
Accuracy is  90.94412331406551 % for K-Value: 9
Accuracy is  88.82466281310212 % for K-Value: 10
Accuracy is  89.40269749518305 % for K-Value: 11
Accuracy is  88.6319845857418 % for K-Value: 12
Accuracy is  88.82466281310212 % for K-Value: 13
Accuracy is  89.01734104046243 % for K-Value: 14
Accuracy is  89.78805394990366 % for K-Value: 15
Accuracy is  88.6319845857418 % for K-Value: 16
Accuracy is  88.82466281310212 % for K-Value: 17
Accuracy is  88.4393063583815 % for K-Value: 18
Accuracy is  88.6319845857418 % for K-Value: 19
Accuracy is  88.6319845857418 % for K-Value: 20
Accuracy is  88.2466281310212 % for K-Value: 21
Accuracy is  89.01734104046243 % for K-Value: 22
Accuracy is  89.21001926782274 % for K-Value: 23
Accuracy is  89.01734104046243 % for K-Value: 24
Accuracy is  89.59537572254335 % for K-Value: 25